 *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 /* body{
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
} */

/* #page_hero {
    background-image: linear-gradient(rgba(185, 9, 9, 0.5), rgba(0, 0, 0, 0.5)), url("./image/page_hero.jpg");
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.hero_div{
    background-image: url("./image/page_hero.jpg");
    height: 42rem;
    position:relative;
}

.div_overlay{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    height: 42rem;
    padding: 10px;
}


.hero_content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero_content h1{
    width: 800px;
    text-align: center;
    font-size: 60px;
    font-weight:700;
    margin-bottom: 15px;
}

#hero_paragraph{
    text-align: center;
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 25px;
    
}
.hero_content p{
    text-align: center;
    font-size: 20px;
    font-weight: 200px;
    margin-bottom: 10px;
}
/* 
div h2{
    width: px;
    text-align: center;
    font-size: 60px;
    font-weight:700;
} */

#get_started{
    font-weight: 500px;
    /* position: absolute; */
    margin-left: -225px;

    
}
.hero_button{
    background: rgba(255, 0, 0, 0.849);
    border: 0.5px solid  rgba(255, 0, 0, 0);
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 12rem;
    padding: 14px;
    position: absolute;
}



/* .hero_button div{
    margin: 0 auto;
} */

#sign_in{
    font-size: 18px;
    width: 85px;
    position: absolute;
    top: 0px;
    margin-left: 70rem;
    top: 35px;
    right: 40px;
    padding: 8px;
    
  
    /* font-weight: 400px; */
}

.padding{
    /* display: inline-block; */
    padding-top: 20px;
    padding-left: 30px;
}

.input_email{
    background: white;
    border: 0.5px solid white;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500px;
    padding: 14px;
    width: 33rem;
    margin-right: 14rem;
    /* margin-left: 10rem */
}

input::placeholder {
    font-size: 16px;
    opacity: 0.8;
    text-align: left;
    /* font-weight: 100; */
    padding: 5px;
  
}

.section_div{
    background: black;
    /* border-top: 3px solid rgba(169, 169, 169, 0.89); */
    /* height: 50%; */
    color: white;
    display: flex;
    flex-direction: row;
    /* padding-left: -50rem; */
    /* padding-top: 20rem; */
    /* padding: rem; */
    /* width: 50%; */
    position: relative;

}

.heading_two{
    width: 600px;
    text-align: left;
    font-size: 50px;
    font-weight:600;
    margin-bottom: 20px;
    /* position: absolute; */
    /* margin-bottom: 15px; */
}

#download{
    width: 550px;
}

.text{
    width: 600px;
    text-align: left;
    font-size: 30px;
    font-weight:400;
    /* position: absolute; */
    /* position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -80%);
    color: white; */
    
}

.text_content{
    padding-top: 8rem;
    padding-left: 4rem;

}

/* #tv_position{
    position: relative;
} */

.tv_image{
    padding-right: -200em;
    width: 35rem;
    /* position: absolute; */
    /* margin-right: -50rem; */
    
    /* position: absolute;
    bottom:  -10px; */
}

.tv_div{
    padding-left: 5rem;
}

.enjoy_tv{
    height: 50%;
}

.tv_container{
    padding: 3rem 0px;
    background: black;
    border-top: 6px solid rgba(169, 169, 169, 0.568);
}

/* .hero_content {
   
    position: absolute;

    
} */

/* .hero_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
} */

/* .hero-text button:hover {
    background-color: #555;
    color: white;
  } */