*{
    font-family:'Times New Roman', Times, serif;
    /* background-color: pink; */
}
body{
    background-color: white;
}
h2{
    font-size: 18px;
}

#background_cover{
    background-color: lightgray;
    border: 2px solid goldenrod;
    /* padding: 20px 10px; */
}

#first_section{
   color: green;
   border: 2px solid whitesmoke;
   /* padding-bottom: ; */
   /* border: 2px solid black; */
}
.page_section{
    font-size: 14px;
    padding: 50px;
    margin: 20px;
   
}
#second_scetion{
    color: red;
    background-color: powderblue;
    
    border: 2px solid brown;
}
#third_section{
    color: blue;
    border: 2px solid purple;
    /* background-color: yellowgreen; */
}
p{
    border: 2px solid purple;
}